html, body {
	height: 100%;
	min-height: 100%;
}

button, input, optgroup, select, textarea {
	color: #333333;;
	font: inherit;
	margin: 0;
}

.CodeMirror {
	line-height: 1.5em;
	font-size: 12.1px;
	margin: 0px;
	border: 0;
	-moz-border-radius: 4px;
	height: 100%;
}

.CodeMirror pre {
	font-family: monospace;
}

body.editmode .col--,
body.editmode .col-md-1,
body.editmode .col-md-2,
body.editmode .col-md-3,
body.editmode .col-md-4,
body.editmode .col-md-5,
body.editmode .col-md-6,
body.editmode .col-md-7,
body.editmode .col-md-8,
body.editmode .col-md-9,
body.editmode .col-md-10,
body.editmode .col-md-11,
body.editmode .col-md-12,
body.editmode .container,
body.editmode .container-fluid,
body.editmode .row
{
	border: 1px dotted #314D67;
	border-collapse: collapse;
}